body {
  background-color:black;
}

p {
  color: white;
}

button, p {
  display: inline-block;
}

h1 {
  color: white;
  font-family: monospace;
  font-size: 30px;
}

h1, img {
  display: inline-block;
}

div div {
  color: black;
  width: 60px;
  height: 30px;
  border-style: solid;
  border-width: 1px;
  border-bottom-style: none;
  border-radius: 1px;
  border-color: white;
  display: inline-block;
}

h2 {
  font-size: 15px;
  text-align: center;
  color: white;
}
